# Python virtual environment
venv/

# Byte-compiled files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg
*.egg

# Environment variables
.env

# IDE files
.idea/
.vscode/
*.swp 

sample/